/* debug：視覺化元素之間的關係 */
.debug *, .debug {
  /* outline: 1px solid gold; */
}
  
html, body{
  width: 100%;
  height: 100%;
  font-family: Questrial, "微軟正黑體";
  margin: 0 auto; 
  max-width: 1920px;
}

/* CSS Reset：取消預設空隙 */
h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}
/* 去除標題項目黑點 & 底線 */
ul, li, a {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

/* navbar 導覽列 */
.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

.navbar__site-name {
  color: #489846;
  font-size: 36px; 
}

.navbar__list {
  display: flex;
  list-style: none; 
  font-size: 18px;
  margin: 0;
  padding: 0;
}
/* 增加按鈕的漸變效果 */
.navbar__list li {
  margin-left: 10px;
  border-radius: 8px;
  transition: background 0.2s;
}

.navbar__list li.active, .navbar__list li:hover {
  background: #ff7286;
}

.navbar__list li.active a, .navbar__list li:hover a {
  color: white;
}

.navbar__list li a {
  color: black;
  padding: 12px 24px;
  display: block;
}

/* banner 封面圖*/
.banner {
  /* 使偽元素能夠定位 banner */
  position: relative;
  height: 450px;
  background: url(../img/bg.png) center/cover no-repeat;
}

/* 利用偽元素：蓋一層黑色透明區塊在圖片上 */
.banner:after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner h1 {
  font-size: 60px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  color: white;
  z-index: 5;
  /* 會偏右下角，是因為以元素的左上角為中心點 */
  top: 50%;
  left: 50%;
  /* 須扣除元素本身寬高的一半，達到置中效果 */
  transform: translate(-50%, -50%);
}

/* 內容左右兩邊留空隙 */
.content {
  text-align: center;
}

/* 段落文字標題 */
.section__title {
  margin: 80px 0;
  font-size: 36px;
  border-left: 15px solid #a3dea2;
  display: inline-block;
  padding-left: 17px;
  margin-bottom: 40px;
}

.story p {
  font-size: 16px;
  padding-bottom: 20px;
  line-height: 1.2;
}

/* 點餐與查詢按鈕 */
.buttons {
  display: flex;
  justify-content: center;
  margin: 60px 0 40px;
}

.button {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #3e613d;
  border-radius: 10px;
  padding: 60px 80px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.button:hover {
  color: gray;
  transform: scale(1.1);
}

.btn-order {
  background: #a8e8e1;
} 

.btn-query {
  background: #f9f9b5;
}

/* menu 菜單 */
.menu__list {
  display: flex;
  justify-content: center;
}

/* 讓圖片自適應容器大小：100% 是相對於父層級寬高 */
.menu__list img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.2s;
}

.menu__list img:hover {
  transform: scale(1.1);
}

/* comment 評論 */
.comment ul {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.comment li {
  position: relative;
  font-size: 16px;
  padding: 56px 20px 20px;
  margin-right: 15px;
  border: 1px solid #c7e5ec;
  border-radius: 5px;
  box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
  transition: transform 0.2s;
  /* 三個區塊均分寬度 */
  width: 33%;
}

.comment li:hover {
  transform: scale(1.1);
}

.comment img {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #ddd;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.comment p {
  padding-bottom: 20px;
  letter-spacing: 0.14px;
  line-height: 1.8em;
}


.footer_information {
  display: flex;
  justify-content: space-between;
  background: #e8efee;
  padding: 35px;
  margin-top: 40px;
}

.footer_information p {
  font-size: 14px;
  color: #484848;
  padding-top: 16px;
}

.footer__site-name a {
  color: #484848; 
  display: inline-block;
}

.footer__site-name h2 {
  font-size: 36px;
  color: #489846;
  transition: transform 0.2s;
}

.footer__site-name a:hover {
  transform: scale(1.1);
}

.footer__copyright {
  background: #35564b;
  text-align: center;
  font-size: 16px;
  color:white;
  padding: 15px;
}

 /* FAQ 頁面 */

.FAQ {
  max-width: 810px;
  margin: 0 auto;
}

.FAQ-block {
  text-align: left;
  border-bottom: 1px solid #a6e2c0;
  padding: 28px;
  cursor: pointer;
}

.FAQ-list {
  pointer-events: none;
}

.FAQ-list h3 {
  display: inline-block;
  color: #70b282;
  font-size: 24px;
}

/* pointer-events：滑鼠事件屬性，設定為 none 即可穿透該元素 */
.FAQ-list span {
  font-size: 18px;
  display: inline-block;
}

.FAQ-block .FAQ-answer {
  margin-left: 62px;
  font-size: 16px;
  line-height: 2;
  margin-top: 24px;

}

.hidden-block {
  display: none;
}

.FAQ-block ul {
  margin: 0 20px 0;
}

.FAQ-block li {
  list-style-type: disc;
}

/* 設定 RWD：視窗寬度在 768px 以下時的呈現方式 */
@media(max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0px;
  }
  
  .navbar__site-name{
    text-align: center;
    padding: 12px;
  }

  .navbar__list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar__list li {
    margin-left: 0;
    border-radius: 0;
  }

  /* 將按鈕縮小 */
  .button {
    font-size: 32px;
    padding: 30px 40px;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
  }

  .comment ul {
    flex-direction: column;
    align-items: center;
  }

  .comment li {
    margin-right: 0px;
    width: 80%;
  }
  /* nth-child(-n+2)：表示選擇列表中小於 2 的標籤，即 0 到 1 */
  .comment li:nth-child(-n+2) {
    margin-bottom: 60px;
  }

  .footer_information {
    flex-direction: column-reverse;
  }

  .footer__contact {
    margin-top: 30px;
  }
  /* 解決 FAQ-list 縮排問題 */
  .FAQ-list {
    display: flex;
  }
}