/* debug：視覺化元素之間的關係 */
.debug *, .debug {
  /* outline: 1px solid gold; */
}

html, body{
  width: 100%;
  height: 100%;
  font-family: Questrial, "微軟正黑體"; 
  box-sizing: border-box;
}

/* CSS Reset：取消預設空隙 */
h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}
/* 去除標題項目黑點 & 底線 */
ul, li, a {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.list {
  max-width: 720px;
  margin: 0 auto;
  border: 1px solid #eee;
  margin-top: 20px;
  background: #fafafa;
  box-shadow: 1.4px 1.4px 8px 0 rgb(199, 197, 197);
  border-radius: 6px;
  overflow: hidden;
}

/*  標題區塊  */
.list__title {
  background: #db4c3f;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.list__content {
  font-size: 20px;
  letter-spacing: 1.2px;
  color:#202020;
  font-weight: 700;
}

/* 任務區塊 */
.list__item {
  padding: 16px 50px;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #fafafa;
  transition: border-left, background 0.2s;
  position: relative;
}

.list__item:hover {
  border-left: 4px solid #db4c3f;
  background: #ddd;
}

.item-context {
  display: inline-block;
  margin-left: 20px;
}

.item-checkbox {
  width: 20px; height: 20px;
  border-radius: 50%;
}

.item-checkbox:hover {
  background: #6C6C6C;
  color: gray;
  cursor: pointer;
}

.btn-deleted {
  cursor: pointer;
  border: none;
  outline: none;
   background: transparent;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px; height: 55px;
  transition: background 0.2s;
}

.btn-deleted:hover {
  background: #db4c3fa1;
}

/* 可透過虛元素屬性來創造符號 */
.btn-deleted:after, .btn-deleted:before {
  content: '';
  position: absolute;
  width: 30%; height: 1px;
  background: #6C6C6C;
  top: 50%;
  left: 50%;
}

/* 叉叉符號：由兩個長方形旋轉 45 度組成 */
.btn-deleted:after {
  transform : translate(-50%, -50%) rotate(45deg);
}

.btn-deleted:before {
  transform : translate(-50%, -50%) rotate(-45deg);
}

/* 點選打勾時，該 list__item 加上 透明化 屬性 */
.item-finished {
  opacity: 0.4;
}

/* 點選打勾時，該 item-context 加上 刪除線 屬性 */
.item-context-finished {
  text-decoration:line-through;
}

/* 點選叉叉時，更改 list__item 的 display 屬性 */
.item-deleted {
  display: none;
}

/* 輸入區塊 */
.list__form {
  border-left: 4px solid #fafafa;
  transition: border-left 0.2s;
}

.list__form:hover {
  border-left: 4px solid #db4c3f;
}

.list__form:active {
  border-left: 4px solid #db4c3f;
}

.list__input {
  border: none;
  outline: none;
  background: #fafafa;
  color: #6C6C6C;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin: 6px 50px;
  padding: 10px;
  width: 600px;
}

.list__input:hover {
  color: #272727;
}

.input__underline {
  border-bottom: 1px solid #ddd;
}

.input__underline-hidden {
  visibility: hidden;
}

/* 設定 RWD：視窗寬度在 768px 以下時的呈現方式 */
@media(max-width: 768px) {
  .list {
    margin: 0;
  }
