/* debug：視覺化元素之間的關係 */
.debug *, .debug {
  outline: 1px solid gold;
}
  
html, body{
  width: 100%;
  height: 100%;
  font-family: Questrial, "微軟正黑體";
  margin: 0 auto; 
  max-width: 1920px;
  font-size: 14px;
}

/* CSS Reset：取消預設空隙 */
h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}
/* 去除標題項目黑點 & 底線 */
ul, li, a {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.wrapper {
  background: #d0d0d0;
  padding-top: 100px;
}

form {
  width: 645px;
  background: white;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  border-top: 8px solid #fad312;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 35px;
}

.header p {
  margin-bottom: 10px;
}

.header h3 {
  font-size: 16px;
  color: #e74149;
  margin: 10px 0 50px;
}

.input-block, .input-block__radio {
  margin-bottom: 50px;
}

.input-block label {
  font-size: 20px;
  margin-bottom: 20px;
}

.input-block input, .other input {
  display: block;
  font-size: 16px;
  color: #afafaf;
  border: solid 1px #d0d0d0;
  width: 280px;
}

.input-block__title  {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}


/* 未輸入時出現的訊息樣式 */
.input-block__error {
  color: #e74149;
  margin-top: 8px;
  position: absolute;
}

/* 使用偽元素來增加 * 符號，可簡化程式碼 */
.required .input-block__title:after {
  content: '*';
  color: #e74149;
}

.input__radio {
  font-size: 14px;
  display: block;
  margin-top: 24px;
}

.other label {
  margin-bottom: 12px;
}

.other p {
  margin: 12px 0 24px;
}

.submit-block button {
  border: none;
  border-radius: 3px;
  background: #fad312;
  font-size: 15px;
  padding: 12px 30px;
  margin-bottom: 20px;
  transition: background 0.1s;
}

.submit-block button:hover {
  cursor: pointer;
  background: #f7a206;
}

.footer {
  background: #000;
  color: #999;
  padding: 20px;
  text-align: center;
  border-top: solid 3px #fad312;
  margin-top: 65px;
}

.hide-error .input-block__error {
  /* display: none; */
  /* 方法一：元素消失、新增時會影響排版，不建議使用 */
  visibility: hidden;
  /* 方法二：只會隱藏元素，仍占有空間；但區塊間隔會變大，可使用絕對定位來解決 */
}

/* 設定 RWD：視窗寬度在 768px 以下時的呈現方式 */
@media(max-width: 768px) {
  form {
    width: 80%;
  }
}